Eclipse/SumWebService/wsdl/SumCalculatorWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://example.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.ws">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://example.ws">
    <xs:element name="getSum">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="num1" type="xs:double"/>
                <xs:element minOccurs="0" name="num2" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSumResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    </wsdl:types>
    <wsdl:message name="getSumRequest">
        <wsdl:part name="parameters" element="xsd:getSum"/>
    </wsdl:message>
    <wsdl:message name="getSumResponse">
        <wsdl:part name="parameters" element="xsd:getSumResponse"/>
    </wsdl:message>
    <wsdl:portType name="SumCalculatorPortType">
        <wsdl:operation name="getSum">
            <wsdl:input message="xsd:getSumRequest" wsaw:Action="urn:getSum"/>
            <wsdl:output message="xsd:getSumResponse" wsaw:Action="urn:getSumResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SumCalculatorSoap11Binding" type="xsd:SumCalculatorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSum">
            <soap:operation soapAction="urn:getSum" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SumCalculatorSoap12Binding" type="xsd:SumCalculatorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSum">
            <soap12:operation soapAction="urn:getSum" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SumCalculatorHttpBinding" type="xsd:SumCalculatorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getSum">
            <http:operation location="SumCalculator/getSum"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getSum"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getSum"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SumCalculator">
        <wsdl:port name="SumCalculatorHttpSoap11Endpoint" binding="xsd:SumCalculatorSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/SumCalculator"/>
        </wsdl:port>
        <wsdl:port name="SumCalculatorHttpSoap12Endpoint" binding="xsd:SumCalculatorSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/SumCalculator"/>
        </wsdl:port>
        <wsdl:port name="SumCalculatorHttpEndpoint" binding="xsd:SumCalculatorHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/SumCalculator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
